{% extends 'dashboard/layouts.html' %}
{% block content %}

<h2>{{ product.designation.labelle }}</h2>
    <hr>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.designation.labelle }}</h5>
            <p class="card-text">{{ product.designation.description }}</p>
            <a href="{% url 'product' product.slug %}" class="btn btn-primary">Voir detail</a>
        </div>
    </div>
{% endblock %}