<div class="row">
    <div class="col-sm-6">
      <!-- text input -->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{form.code.label_tag}}</label>
          <div class="col-sm-8">
            {{form.code}}
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <!-- text input -->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{form.designation.label_tag}}</label>
          <div class="col-sm-8">
            {{form.designation}}
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mt-2">
          <a href="#"><i class="fas fa-plus"></i></a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <!-- text input -->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{form.category.label_tag}}</label>
          <div class="col-sm-8">
            {{form.category}}
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mt-2">
          <a href="#"><i class="fas fa-plus"></i></a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <!-- text input -->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{form.size.label_tag}}</label>
          <div class="col-sm-8">
            {{form.size}}
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mt-2">
          <a href="#"><i class="fas fa-plus"></i></a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <!-- text input -->
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{form.price.label_tag}}</label>
          <div class="col-sm-8">
            {{form.price}}
          </div>
      </div>
    </div>
</div>