<div class="card">
    <div class="card-body" v-if="!showList">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>Designation</th>
                <th>Description</th>
                <th>Category</th>
                <th>Size</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" v-bind:key="product.id">
                <td>[[product.code]]</td>
                <td>[[product.description]]</td>
                <td>[[product.category]]</td>
                <td>[[product.size]]</td>
                <td>
                    <a :href="product.detailurl" class="btn btn-sm btn-info">Voir</a>
                    <a :href="product.editurl" class="btn btn-sm btn-primary">Edit</a>
                    <a @click="toggleDialog(product.id)" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
              </tr>
          </tfoot>
        </table>
    </div>
</div>