{% load static %}
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6"
         v-if="showList"
         v-for="product in products">
        <div class="card card-link">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">[[product.designation]]</p>
                    </div>
                </div>

                <div class="content">
                    <img src="{% static 'images/3.jpg' %}" alt="">
                    [[ product.description ]]
                </div>
            </div>

            <footer class="card-footer">
                <a :href="product.detailurl" class="card-footer-item">Visit</a>
                <a :href="product.editurl" class="card-footer-item">Edit</a>
                <a @click="toggleDialog(product.id)" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</div>