{% extends 'dashboard/layouts.html' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header" id="product_list">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark"><a href="{% url 'product_grid' %}"><i class="fas fa-th-large"></i> </a> [[message]]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <a>Ajouter</a>
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Produits</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
      <!-- /.content-header -->
      <hr>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{% url 'add_product' %}" class="btn btn-primary">+ Ajouter</a>
            </div>
            <div class="col-md-4"></div>
        </div>
      <hr>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="card card-link">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ product.designation.labelle }}</p>
                                </div>
                            </div>

                            <div class="content">
                                {{product.designation.description}}
                            </div>
                        </div>

                        <footer class="card-footer">
                            <a href="{% url 'product' product.slug %}" class="card-footer-item">Visit</a>
                            <a href="{% url 'product' product.slug %}" class="card-footer-item">Edit</a>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        new Vue({
            el: '#product_list',
            delimiters: ['[[', ']]'],
            data () {
                return {
                    showListDialog: false,
                    message:"List des produits",
                    products: [
                        {{products_string|safe}}
                    ]
                    }
                },
                mounted () {
                    console.log(this.products)
                }
            })
    </script>
{% endblock %}